table {
    text-align: center;
    background-color:aqua;
    color: black;

}

tr:nth-child(even) {
    background-color: #08f9f9;
  }

  .feedbackList {
    display: flex;
    margin: 10px;
    padding: 10px;
    min-width: 1112;
    justify-content: center;
  }