.App {
  text-align: center;
}

.App-header {
  background-color: #264653;
  min-height: 70px;
  padding: 20px;
  color: #E76F51;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.button {
  display: flex;
}